*{
    box-sizing: border-box;
}

[class*="col-"]{
    width: 100%;
    float: left;
    min-height: 200px;
    padding: 15px;
}

/* cho mobile */
@media only screen and (max-width: 768px){  
    #top-left{
        display: none;   
    }

    #top-right{
        display: none;   
    }

    #top-login{
        display: block; 
    }

	#support{
        display: none;
    }

    #contact{
        display: none;
    }

    #map{
        display: block; 
        width: 100%; 
    }

    .body-sphot {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .body-sphot .col-s-6 {
        width: 100%;
    }
}

/* cho tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .col-s-1{ width: 8.33%;}
    .col-s-2{ width: 16.66%;}
    .col-s-3{ width: 25.0%;}
    .col-s-4{ width: 33.33%;}
    .col-s-5{ width: 41.66%;}
    .col-s-6{ width: 50.0%;}
    .col-s-7{ width: 58.33%;}
    .col-s-8{ width: 66.66%;}
    .col-s-9{ width: 75.0%;}
    .col-s-10{ width: 83.33%;}
    .col-s-11{ width: 91.66%;}
    .col-s-12{ width: 100%;}
    
    #top-left{
        display: block;   
    }

    #top-right{
        display: none;   
    }

    #top-login{
        display: block; 
    }

    #support{
        display: none;
    }

    #contact{
        display: block;
        width: 40%;
    }

    #map{
        display: block; 
        width: 60%; 
    }

    .body-sphot {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .body-sphot .col-m-4 {
        width: 50%;
    }
}

/* cho laptop/pc */
@media only screen and (min-width: 1024px){
    .col-m-1{ width: 8.33%;}
    .col-m-2{ width: 16.66%;}
    .col-m-3{ width: 25.0%;}
    .col-m-4{ width: 33.33%;}
    .col-m-5{ width: 41.66%;}
    .col-m-6{ width: 50.0%;}
    .col-m-7{ width: 58.33%;}
    .col-m-8{ width: 66.66%;}
    .col-m-9{ width: 75.0%;}
    .col-m-10{ width: 83.33%;}
    .col-m-11{ width: 91.66%;}
    .col-m-12{ width: 100%;}
    
    #support{
        display: block;
        width: 25%;
    }

    #contact{
        display: block;
        width: 25%;
    }

    #map{
        display: block; 
        width: 50%; 
    }

    .body-sphot {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .body-sphot .col-x-3 {
        width: 25%;
    }
    
}

/* cho TV */
@media only screen and (min-width: 1280px){
    .col-x-1{ width: 8.33%;}
    .col-x-2{ width: 16.66%;}
    .col-x-3{ width: 25.0%;}
    .col-x-4{ width: 33.33%;}
    .col-x-5{ width: 41.66%;}
    .col-x-6{ width: 50.0%;}
    .col-x-7{ width: 58.33%;}
    .col-x-8{ width: 66.66%;}
    .col-x-9{ width: 75.0%;}
    .col-x-10{ width: 83.33%;}
    .col-x-11{ width: 91.66%;}
    .col-x-12{ width: 100%;}
}